<div class="message">
  <div class= "container-user-photo">
    <% if user_signed_in = true %>
    <% userphoto = cl_image_path current_user.facebook_picture_url || cl_image_tag current_user.photo.path %>
    <%= userphoto, class: "user-photo"  %>
    <% end %>
  </div>
  <div class="message-content"><div class="username"><%=current_user.username %></div><%= message.content %></div>
</div>

