.container-show{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover !important;
  background-position: center;
}

//1-DESIGN NAVBAR

body#without-navbar .navbar-weesound {
    display: none;
}

.navbar-weesound-logo img{
  height: 70px;
  margin-bottom: 13px;
}

.navbar-show {
  flex: 0 0 10%;
  background: linear-gradient(45deg, rgba(255,78,80,0.9), rgba(255,184,140,0.9));
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//1-1 Share-button


.navbar-weesound-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  left: 2px;
  top: -6px;
  background-color: rgba(250, 250, 250, 0.8);
  transform: rotate(45deg);
  border-left: 1px solid rgba(250, 250, 250, 0.8);
  border-top: 1px solid #E6E6E6;
}

.navbar-weesound-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-weesound-dropdown-menu li{
   display: inline;
}
.navbar-weesound-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-weesound-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
$size: 34px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    z-index: 20000;
  }
}

.social-share-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social-share-button .ssb-twitter, .ssb-facebook {
  margin : 10px;

  }
.social-share-button .ssb-twitter:after {
  content: "Share your link on twitter";
  display: block;
  width: 100px;
  text-decoration: none;
  font-size: 12px;
  margin-left: 25px;
  margin-top: -5px;
  line-height: 14px;
  color: rgb(30,30,30);
}

.social-share-button .ssb-facebook:after {
  content: "Share your link on facebook";
  display: block;
  width: 100px;
  text-decoration: none;
  font-size: 12px;
  margin-left: 25px;
  margin-top: -5px;
  line-height: 14px;
  color: rgb(30,30,30)
}

.logo-wee{
  flex : 0 0 80%;
}

.navbar-wagon-item {
  flex: 0 0 10%;
  cursor: pointer;
  text-align: center;

}

.playlist-icone{
  flex : 0 0 10%;
  cursor: pointer;
  text-align: center;
}

//2- DESIGN FOOTER PLAYER
.footer-player{
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
}

//2-1 DESIGN CHAT FORM
.chat-form{
  flex: 0 0 35%;
  display: flex;
  background-color: rgba(250, 250, 250, 0.5);
}

.chat-box{
  flex: 1 0 100%;
  border: none;
  font-size: 14px;
  // background-color: rgba(250, 250, 250, 0.5);
  background-color: transparent;
  height: 40px;
}

.disparition{
  visibility: hidden;
}

form#new_message {
    width: 100%;
}
//2-2 DESIGN  PLAYER

.player_audio{
  flex: 0 0 65%;
  background: linear-gradient(45deg, rgba(255,78,80,0.5), rgba(255,184,140,0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_player {
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
  color: white;
  margin-right: 11px;
}
// DESIGN CONTAINER CENTRAL

.container-central{
  flex : 0 0 75%;
  display: flex;
  flex-direction: column;
}

.all-messages{
  flex: 1 0 60%;
  // display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  // transition: overflow .9s;
}

.message{
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: 10px;
padding-bottom: 23px;
}

.message-influenceur{
display: flex;
align-items: center;
justify-content: flex-end;
margin-right: 12px;
padding-bottom: 23px;
}


.message-content{
  background-color: rgba(250, 250, 250, 0.5);
  // margin: 8px;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  text-align: left;
}

.message-content-influenceur{
  background-color: rgba(250, 250, 250, 0.5);
  // margin: 8px;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  text-align: left;
}

.user-photo{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 800;
  // margin-left: 5px;
  margin-right: -7px;
}

.pined-message{
  flex: 1 0 40%;
  // background-color: rgba(30, 30, 30, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.quotes{
  color: linear-gradient(45deg, rgba(255,78,80,0.9), rgba(255,184,140,0.9));
  margin: 10px;
}

#text-width{
  text-align: center;
  width: 80%;
  background-color: rgba(30, 30, 30, 0.3);
  border-radius: 6px;
  margin-bottom: 49px;
  padding: 3px;
}

.signature{
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar{
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin-right : 10px;
}

.playlist-container{
  position: absolute;
  background: linear-gradient(45deg, rgba(255,78,80,0.99), rgba(255,184,140,0.99));
  height: 90.3vh;
  width: 100vw;
  top: -1045px;
  z-index: 10000;
  transition: top .9s;
}

.song{
  display: flex;
  align-items: center;
}

.title{
  font-size: 18px;
  color:#3D3D3D;
  margin-right: 5px;
}

.artist{
  font-size: 14px;
  color: rgba(230,230,230,0.9);
  font-weight: bolder;
}

.playlist{
  width: 40%;
  margin: auto;
}

.track-playing {
  font-style: italic;
  color: white;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 5px;
  margin-bottom: none;
}

