

<div class="player_background">
  <!-- <img src="https://slack-imgs.com//mc?c=1&url=https%3A%2F%2Fscontent-iad3-1.cdninstagram.com%2Ft51.2885-15%2Fe35%2F20589379_2000039293551612_5999224329236119552_n.jpg" alt=""> -->
  <div class="banner">
   <!--  <br>
    <br> -->
    <div id="mosaic">
  <div class="container">
    <div class="row-stylised">
     <div class="col-xs-12 col-sm-8 col-sm-offset-2">
     <!--  <div class="col-sm-7"> -->
        <div class="lead" id="">
          <h1 class="margin-btm-none"> Stream your music directly to your fans</h1>
          <%= link_to "Let's start", rooms_path, class:"btn-medium callAction_home"%>
           <p class="title2">Let your fans chat and listen to your music with you</p>
        </div>
     </div>
    </div>
  </div>
</div>

<div id="hashtags">
  <div class="container">
    <div class="roww">
      <div class="col-sm-4">
        <div class="blok">
        <br>
          <h2>#stream</h2>
          <p class= "espaceblok">
            Stream your favorite songs, artists, albums, and playlists.
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="blok">
          <h2>#share</h2>
          <p class= "espaceblok">
            Guarantee a full access to your live stream musical rooms
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="blok">
          <h2>#live-experience</h2>
          <p class= "espaceblok">
            Receive real-time feedback from users through live chat.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>




<div class="container-fluid">
<h2>OUR TOP INFLUENCERS</h2
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="row-stylised">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Monsieur_Dream_-_Cyprien_Iov.jpg" class="img-responsive center-block"></a>
              <span class="badge">N°1</span>
              <h4 class="text-center">CYPRIEN</h4>
              <h5 class="text-center">  4 380 978 Followers</h5>
            </div>
          </div>

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="http://www.petit-bulletin.fr/multimedia/articles/140513_140512fnorman.jpg" class="img-responsive center-block"></a>
              <span class="badge">N°2</span>
              <h4 class="text-center">NORMAN</h4>
              <h5 class="text-center">  4 303 642 Followers</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="https://www.closermag.fr/var/closermag/storage/images/tele/dossier-danse-avec-les-stars/saison-6/news/danse-avec-les-stars-6-enjoyphoenix-au-bord-de-la-depression-je-n-ai-fait-que-pleurer-580212/5000753-1-fre-FR/Danse-avec-les-Stars-6-EnjoyPhoenix-au-bord-de-la-depression-Je-n-ai-fait-que-pleurer.jpg" class="img-responsive center-block"></a>
              <span class="badge">N°3</span>
              <h4 class="text-center">ENJOY PHOENIX</h4>
              <h5 class="text-center">  3 700 950</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="http://s-www.ledauphine.com/images/572E450F-F887-452E-9913-31B7590756B9/LDL_V0_12/mister-v-c-est-plus-de-1-3-million-d-abonnes-sur-youtube-et-des-videos-vues-plus-de-110-millions-de-fois-photo-capture-facebook-alex-mahieu-1394017958.jpg" class="img-responsive center-block"></a>
              <span class="badge">N°4</span>
              <h4 class="text-center">MISTER V</h4>
              <h5 class="text-center">  2 276 520 Followers</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="http://media.rtl.fr/online/image/2016/0505/7783112097_natoo-devoile-sa-marque-de-bijoux-joyau-magique.jpg" class="img-responsive center-block"></a>
              <span class="badge">N°5</span>
              <h4 class="text-center">NATOO</h4>
              <h5 class="text-center">  2 163 043 Followers</h5>
            </div>
          </div>

        </div>

        <div id="slider-control">
        <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
        <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>
        <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="foot">
  <br>
    <h1 class="title">@weesound 2017 </h1>
    <br>
</div>
