

<div class="player_background">
  <!-- <img src="https://slack-imgs.com//mc?c=1&url=https%3A%2F%2Fscontent-iad3-1.cdninstagram.com%2Ft51.2885-15%2Fe35%2F20589379_2000039293551612_5999224329236119552_n.jpg" alt=""> -->
  <div class="banner">
   <!--  <br>
    <br> -->
    <div id="mosaic">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-md-8 col-md-offset-2">
     <!--  <div class="col-sm-7"> -->
        <div class="lead" id="">
          <h1> Stream your music directly to your fans</h1>
          <%= link_to "Let's start", user_session_path, class:"btn-medium callAction_home"%>
           <p class="title2">Let your fans chat and listen to your music with you</p>
        </div>
     </div>
    </div>
  </div>
</div>

<div id="hashtags">
  <div class="container">
    <div class="roww">
      <div class="col-sm-4">
        <div class="blok">
        <br>
          <h2>#stream</h2>
          <p class= "espaceblok">
            Stream your favorite songs, artists, albums, and playlists.
            <br>
            <br>
          </p>
        </div>
      </div>
      <br>
      <div class="col-sm-4">
        <div class="blok">
          <h2>#share</h2>
          <p class= "espaceblok">
            Guarantee a full access to your live stream musical rooms
            <br>
            <br>
          </p>
        </div>
        <br>
      </div>
      <div class="col-sm-4">
        <div class="blok">
          <h2>#live-experience</h2>
          <p class= "espaceblok">
            Receive real-time feedback from users through live chat.
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>




<div class="container-fluid">
<h2>OUR TOP INFLUENCERS</h2
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="row-stylised">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="https://static.actu.fr/uploads/2014/04/Meryl-Denis-2.jpg" class="img-responsive center-block"></a>
              <!-- <span class="badge">N째1</span> -->
              <h4 class="text-center">MERYL</h4>
              <h5 class="text-center">  76 478 Followers</h5>
            </div>
          </div>

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="http://blog.danity.fr/wp-content/uploads/2017/02/Sans-titre-31.png" class="img-responsive center-block"></a>
            <!--   <span class="badge">N째2</span> -->
              <h4 class="text-center">ZOE</h4>
              <h5 class="text-center">  63 642 Followers</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="https://s-media-cache-ak0.pinimg.com/736x/dd/dc/de/dddcde7e0c249e53640f572ac620dbc2--shera-kerienski-curly-hair.jpg" class="img-responsive center-block"></a>
              <!-- <span class="badge">N째3</span> -->
              <h4 class="text-center">SHERA</h4>
              <h5 class="text-center">  59 950</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
              <a href="#"><img src="http://www.envedette.ca/image/policy:1.1513417:1493231074/Lysandre-Dolbec.jpg?c=177%2C0%2C798%2C798&$p$c=73ac7a8&45" class="img-responsive center-block"></a>
             <!--  <span class="badge">N째4</span> -->
              <h4 class="text-center">BEATRICE</h4>
              <h5 class="text-center">  56 520 Followers</h5>
            </div>
          </div>


        </div>

        <div id="slider-control">
        <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
        <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>
        <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="foot">
  <br>
    <h1 class="title">@weesound 2017 </h1>
    <br>
</div>
