.btn-medium {
 color: white ;
 // border: 1px solid white ;
 padding: 10px 15px;
 border-radius: 3%;
 // font-weight: lighter;
 // opacity: 0.9;
}

.callAction_home{
  // position: absolute;
  background: linear-gradient(4deg, rgba(255,78,80,0.9), rgba(255,184,140,0.9));

}


.btn-medium:hover {
 opacity: 1;
 text-decoration: none;
 color: darkred ;
}
.btn-treehouse {
 color: white;
 padding: 10px 15px;
 border-radius: 4px;
 font-weight: bold;
 background: #6AD58B ;
 transition: background 0.3s ease;
}
.btn-treehouse:hover {
 opacity: 1;
 background: #3ac162 ;
 text-decoration: none;
 color: white;
}

/* Build your own button classes ! */
